/node_modules
/public/hot
/public/targets
*.xlsx
/public/*.xlsx
*.pdf
/public/*.pdf
/public/storage
/storage/*.key
/storage/framework/laravel-excel/*
/storage/logs/*
/vendor
.env
.history/*
.idea/*
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
#bootstrap/*
.tmp.drivedownload/9908847.driveupload
*.driveupload
resources/views/vendor/LaravelLogger/forms/clear-activity-log.blade.php
resources/views/vendor/LaravelLogger/forms/delete-activity-log.blade.php
resources/views/vendor/LaravelLogger/forms/restore-activity-log.blade.php
resources/views/vendor/LaravelLogger/logger/activity-log-cleared.blade.php
resources/views/vendor/LaravelLogger/logger/activity-log-item.blade.php
resources/views/vendor/LaravelLogger/logger/activity-log.blade.php
resources/views/vendor/LaravelLogger/logger/partials/activity-table.blade.php
resources/views/vendor/LaravelLogger/modals/confirm-modal.blade.php
resources/views/vendor/LaravelLogger/partials/form-search.blade.php
resources/views/vendor/LaravelLogger/partials/form-status.blade.php
resources/views/vendor/LaravelLogger/partials/scripts.blade.php
resources/views/vendor/LaravelLogger/partials/styles.blade.php
resources/views/vendor/LaravelLogger/scripts/add-title-attribute.blade.php
resources/views/vendor/LaravelLogger/scripts/clickable-row.blade.php
resources/views/vendor/LaravelLogger/scripts/confirm-modal.blade.php
resources/views/vendor/LaravelLogger/scripts/datatables.blade.php
resources/views/vendor/LaravelLogger/scripts/tooltip.blade.php
.vscode/launch.json
resources/lang/vendor/LaravelLogger/de/laravel-logger.php
resources/lang/vendor/LaravelLogger/en/laravel-logger.php
resources/lang/vendor/LaravelLogger/fr/laravel-logger.php
.env - Copy.example
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/phpunit.xml
.idea/sell360.iml
.idea/vcs.xml
.idea/php.xml
.idea/workspace.xml
#
