.btn-edit {
    border: solid 1px #001e35;
    font-size: 11px;
    padding: 3px 6px 1px 6px;
    margin: 3px 0 2px 5px;
    border-radius: 0;
    background: #fff;
    color: #001e35;
    letter-spacing: 1px;
}
.btn-edit:HOVER {
    border: solid 1px #001e35;
    background: #001e35;
    color: #fff;
}
.cusDetail, .cusDetail:HOVER {
    border: solid 1px #001e35;
    font-size: 11px;
    padding: 3px 6px 1px 6px;
    margin: 3px 0 2px 5px;
    border-radius: 0;
    background: #001e35;
    color: #fff;
    letter-spacing: 1px;
}
.delete, .delete:HOVER {
    border: solid 1px #f12300;
    font-size: 11px;
    padding: 3px 6px 1px 6px;
    margin: 3px 0 2px 5px;
    border-radius: 0;
    background: #f12300;
    color: #fff;
    letter-spacing: 1px;
}
.borderB2 {
	border-bottom: solid 2px #001e35
}
.Product-Filter {
	background-color: #f3f2f2;
	padding: 15px 15px 0px 15px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 15px;
	border-bottom: solid 2px #001e35
}
.Product-Filter .nav-link {
	padding: 6px 8px 0px 8px
}
.Product-Filter .nav {
	width: 74px;
	float: right
}
.Product-Filter .nav .fa {
	color: #a6a5a5;
	font-size: 20px
}
.Product-Filter .active .fa {
	color: #001e35
}
.CL-Product {
	width: 230px;
	position: relative;
	float: left;
	padding-right: 15px
}
.CL-Product input {
	height: 32px;
	border: solid 1px #dedede;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding-left: 30px;
	font-size: 13px;
	letter-spacing: 1px
}
._cust_filter .select2-container .select2-selection--single {
	background-color: #fff; 
	border-color: #e4e4e4;
	font-size: 14px;
	border-radius: 0px;
	height: 32px;
 }

 ._cust_filter .select2-container--default .select2-selection--single .select2-selection__rendered{
	 line-height: 32px;
 }

.red-bg{
	color: white !important;
}
.Product-Filter .btn-primary {
	color: #fff !important;
	cursor: pointer;
	float: left;
	margin-left: 15px;
	padding-top: 4px;
	padding-bottom: 4px
}
.CL-Product .fa {
	position: absolute;
	top: 8px;
	left: 8px;
	color: #b5b5b5
}
._cust_filter {
	width: 150px;
	float: left;
	padding-right: 15px;
	margin-bottom: 15px
}
._cust_filter select {
	border-radius: 0;
	height: 32px;
	border: solid 1px #dedede
}
.Product-row-title {
	border: none;
	padding: 15px;
	position: relative;
	text-transform: uppercase;
	color: #001e35;
	font-family: proximanova-semibold, sans-serif;
	letter-spacing: 1px;
	font-size: 13px;
	-ms-transform: scale(0.97);
	-webkit-transform: scale(0.97);
	transform: scale(0.97);
}
.Product-row {
	background-color: #fff;
	border: none;
	padding: 15px;
	border-radius: 0px;
	position: relative;
	font-size: 13px;
	width: 100%;
	margin-bottom: 20px;
	border-bottom: solid 2px #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	transform: translateZ(0);
	-ms-transform: scale(0.97);
	-webkit-transform: scale(0.97);
	transform: scale(0.97);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.Product-row:HOVER {
	border-bottom: solid 2px #001e35;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
	z-index: 5;
}
.ProductPageNav {
	padding-top: 5px;
	padding-bottom: 20px
}
.ProductPageNav .page-item .page-link {
	font-size: 13px;
	line-height: 17px;
	padding: 10px
}
.Product-IMG {
}
.Product-Name {
	display: table-cell;
	vertical-align: middle;
	width: 100%
}
.Product-IMG img {
	width: 40px;
	height: 40px;
	border: solid 1px #e2e2e2;
	margin-right: 15px
}
._SNO {
	padding-right: 0;
	max-width: 65px;
	padding-top: 0px;
	line-height: 17px;
	display: table;
	height: 40px
}
._ITEMSKU {
	padding-right: 0;
	max-width: 150px;
	line-height: 17px;
	display: table;
	height: 40px
}
._ITEMNAME {
	padding-right: 0;
	max-width: 513px;
	line-height: 17px;
	display: table;
	height: 40px
}
._ITEMBRAND {
	padding-right: 0;
	max-width: 300px;
	line-height: 17px;
	display: table;
	height: 40px
}
._Action {
	padding-right: 0;
	max-width: 90px;
	display: table;
	height: 40px
}
.middle {
	display: table-cell;
	vertical-align: middle
}
._product-card {
	background-image: url(../images/c-profile-bg.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	background-color: #fff;
	padding: 18px 20px 20px 20px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
	position: relative;
	color: #6f6f6f;
	font-size: 14px;
	margin-bottom: 30px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	-ms-transform: scale(0.96);
	-webkit-transform: scale(0.96);
	transform: scale(0.96)
}
._product-card:HOVER {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
._product-card h2 {
	font-size: 15px;
	margin-bottom: 15px;
	line-height: 20px;
	height: 42px;
	overflow: hidden;
	color: #282828
}
._product-card h2:before {
	background: #001e35;
	position: absolute;
	width: 2px;
	height: 32px;
	left: 0px;
	top: 22px;
	content: '';
}
.PR-Thumb {
	display: table;
	height: 220px
}
._product-card img {
	width: 100%;
	height: auto; max-height: 220px
}
._product-card .dropdown {
	float: right;
	margin-right: -20px
}
._Action .dropdown {
	float: right;
	margin-right: 20px
}
._product-card .dropdown .btn, ._Action .dropdown .btn {
	padding: 4px 4px;
	font-size: 12px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-khtml-border-radius: 0;
	text-transform: capitalize;
	background: linear-gradient(90deg, #001e35 0%, #001e35 100%);
	color: #fff;
	line-height: 1;
	letter-spacing: 1px;
}
._product-card .dropdown .dropdown-menu, ._Action .dropdown .dropdown-menu {
	min-width: 65px;
	padding: 0;
	margin: 0;
	font-size: 11px;
	border-radius: 0;
}
._product-card .dropdown .dropdown-item {
	color: #282828;
	padding: 5px 11px;
	letter-spacing: 1px
}
._Action .dropdown .dropdown-item {
	color: #282828;
	padding: 2px 11px;
	letter-spacing: 1px;
}
._product-card .dropdown .dropdown-item:HOVER, ._Action .dropdown .dropdown-item:HOVER {
	color: #fff;
	background-color: #001e35;
	outline: none!important;
}
.btn-addproduct {
	padding: 4px 8px 3px 8px;
	border-radius: 0;
	line-height: 1;
	margin-top: 6px;
	border: none;
	background-color: #001e35;
	color: #fff;
	font-size: 14px;
	margin-right: 8px;
	letter-spacing: 1px
}
.btn-addproduct .fa {
	font-size: 12px
}
.AddPro-Leftinfo {
	padding-left: 40px;
	padding-top: 20px;
}
.Addpro-form .proTextarea {
	height: 80px;
	padding: 10px;
	font-size: 15px;
	box-shadow: none;
	border: solid 1px #e4e4e4;
	width: 100%;
}
.addproTop {
	font-size: 13px;
	color: #797979
}
.Addpro-form .proTextarea:focus {
	border: solid 1px #001e35
}
.Addpro-form input {
	box-shadow: none;
	border: solid 1px #e4e4e4
}
.Addpro-form .col-form-label {
	font-size: 13px;
	color: #797979
}
.Addpro-form .form-control {
	height: 35px!important
}
.Product-imgUpload {
	background: #f7f7f7;
	width: 100%;
	min-height: 100%;
	border-left: solid 1px #e5e5e5;
	border-top: solid 1px #e5e5e5;
	padding-bottom: 15px
}
.Product-imgUpload h4 {
	font-size: 18px;
	line-height: 1;
	width: inherit;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-bottom: 0;
	border-bottom: solid 1px #e5e5e5;
	background: linear-gradient(0deg, #f8f8f8 0%, #ffffff 50%)
}
.AddPro-Leftinfo .form-s2 .select2-container .select2-selection--single {
	background-color: #fff;
	border-color: #e4e4e4
}
.AddPro-Leftinfo .select2-container--default .select2-selection--multiple {
	background-color: #fff;
	border: solid 1px #e4e4e4
}
.addPO {
	font-size: 14px;
	border-radius: 0;
	width: 100%;
	border-color: #001e35
}
.addPO:HOVER {
	color: #fff;
	background: linear-gradient(90deg, #001e35 0%, #001e35 100%);
}
.PackagingOption {
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 15px;
	padding: 10px;
	font-size: 12px
}
.PackagingOption .col {
	padding-right: 0
}

.PackagingOption strong {
	color: #001e35; padding-right: 5px;
}
/*.PackagingOption:HOVER strong {
	color: #fff
}*/
.Product-imgUpload .dropzone.dz-clickable {
	text-align: center;
	padding: 0
}
.Product-imgUpload .dropzone {
	min-height: 102px
}
.Product-imgUpload .dropify-wrapper, .Product-imgUpload .dropzone {
	border: solid 1px #e5e5e5
}
.addPackagingOption {
	background-color: #f6f6f6;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 15px
}
.addPackagingOption .form-group .form-control {
	background-color: #fff!important;
	border: solid 1px #e4e4e4!important
}
.ProTopCard {
	background-color: #fff;
	border: none;
	padding: 15px;
	border-radius: 0px;
	position: relative;
	font-size: 13px;
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	border-bottom: solid 2px #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
	margin-top: 10px
}
.delListPO, .editListPO, .delListPO:focus, .delListPO:HOVER{background: red;
    padding: 5px 6px 4px 6px; border-radius: 0; border:none;
	font-size: 14px; color: #fff; line-height: 1; display: none; position: absolute; left: 15px; top: -3px
}
.editListPO, .editListPO:focus, .editListPO:HOVER{padding: 5px 5px 4px 5px; background:#001e35; color: #fff; font-size: 14px; left:-15px; top:-3px}
 
.PackagingOption:HOVER .delListPO, .PackagingOption:HOVER .editListPO{display: block}

.cusDetail-th, .cusDetail-th:HOVER{
	border: solid 1px #001e35;
    font-size: 11px;
    padding: 3px 8px 2px 8px;
    margin:0px 0 0 5px;
    border-radius: 0;
    background: #001e35;
    color: #fff;
    letter-spacing: 1px
}
.Order-search {
    width: 230px;
    position: relative;
    float: right;
    padding-right: 15px;
    margin-top: 7px;
}
.Order-search input {
	height: 32px;
	border: solid 1px #dedede;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding-left: 30px;
	font-size: 13px;
	letter-spacing: 1px
}
.Order-search .fa {
	position: absolute;
	top: 8px;
	left: 8px;
	color: #b5b5b5
}
.addOrderBtn{
	padding: 6px 10px 5px 10px;
    margin-right: 15px;
    margin-top: 7px;
    font-size: 13px;
    letter-spacing: 1px; float: right; color: #fff!important; cursor: pointer
} 

.se_cus-type .form-control, .se_cus-type .form-s2 .select2-container .select2-selection--single {
    border: 1px solid #eeeeee;
    background-color: #fff;
}
.mt-19{margin-top: 19px!important}
 

.add-property{font-size: 13px; padding: 15px 0px; background-color: #f6f6f6; margin: 0}
.add-property .btn-primary{font-size: 13.5px; padding: 6px 15px; box-shadow: none; letter-spacing: 1px;}
.add-property .set-w-input{width: 164px!important}
.add-property ._add-secon{background-color: #fff; border-color:#e4e4e4; letter-spacing: 0.5px; font-size: 12px;font-family: 'Source Sans Pro', sans-serif !important; padding: 6px 28px 6px 8px; margin-bottom: 0px; margin-top: 8px;}
.add-property ._add-secon .close{top: 0}





@media (max-width: 1300px) {
.PR-Thumb {
	height: 202px
}
.header-tabs .nav-tabs .nav-item.show .nav-link, .header-tabs .nav-tabs .nav-link, .header-tabs .nav-tabs .nav-link.active {
    font-size: 14px;
    padding: 12px 12px;
    letter-spacing: 0.5px;
}
.Order-search {width: 200px}
.addOrderBtn {padding: 6px 6px 5px 6px}
}
.addPackagingOption	.bt-close {
    position: absolute;
    top: -15px;
    right: 0;
    padding: 10px;
    line-height: 1;
    background: transparent; z-index: 5; opacity: 0.4
}
.mb-15{margin-bottom: 15px!important}

@media (max-width: 1170px) {
.PR-Thumb {
	height: 175px
}
.header-tabs .nav-tabs .nav-item.show .nav-link, .header-tabs .nav-tabs .nav-link, .header-tabs .nav-tabs .nav-link.active {
    padding: 12px 10px;
    letter-spacing: normal;
}
}

@media (max-width: 1024px) {
.Product-row {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
._product-card {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(01)
}
}

@media (max-width: 992px) {
._product-card img {
	max-height: 175px;
}
}
